
    body {
            background-color: rosybrown;
        }
        h1 {
            background-color: royalblue;
        }
        h2{
            color: rgb(6, 122, 103);
        }
        em{
            color:springgreen
        }
        h3{
            color: violet;
        }
    